{% extends "extranet/base.html" %}

{% block content %}
{% endblock content %}

{% block navbar %}

    <table id="navtable">
    <tr><td class="navgroup">
      Needs & orders:
    </td><td>
      <a href="{% url 'extranet_project_needs' project_report.project.name %}">Manage</a>
    </td></tr>
    <tr><td class="navgroup">
      Reports:
    </td><td>
      <a href="{{ project_report.current_week_url }}">Weekly</a>
      <a href="{{ project_report.current_month_url }}">Monthly</a>
    </td></tr>
    </table>

{% endblock navbar %}

{% block navpath %}

    <a href="{% url 'extranet_home' %}">{{ SITE_NAME }}</a>
    &#x27a3;
    <span class="currentpage">{{ project_report.project.name }}</span>

{% endblock navpath %}

{% block page_title %}

    {{ project_report.project }}

{% endblock page_title %}
