{% if report %}

  Total: <b>{{ report.total_hours }} h</b>

  <table id="report">

    {% for need, issues_with_amounts in report.iter_hours_by_needs_and_issues %}
      <tr class="need"><td colspan="3">
          {% if need %}<b>{{ need }}</b>{% else %}<i>---</i>{% endif %}
      </td></tr>
      {% for issue, amount in issues_with_amounts %}
        <tr class="issue issue-{% if issue.closed_at %}closed{% else %}open{% endif %}">
          <td class="hours">{{ amount }} h</td>
          <td class="title">{{ issue.title }}</td>
        </tr>
      {% endfor %}
    {% endfor %}

    {% for tags, hours_list in report.iter_hours_with_no_related_issues %}
      <tr class="need"><td colspan="3">
          {% if tags %}<b>{{ tags }}</b>{% else %}<i>---</i>{% endif %}
      </td></tr>
      {% for hours in hours_list %}
        <tr class="issue issue-{% if issue.closed_at %}closed{% else %}open{% endif %}">
          <td class="hours">{{ hours.amount }} h</td>
          <td class="title">{{ hours.comment }}</td>
        </tr>
      {% endfor %}
    {% endfor %}

  </table>

{% endif %}
