{% if report %}

  {% if show_timenav %}
    <div id="timenav">
        <div class="control">
            <a href="{{ report.prev_url }}">&#10096;</a>
            <b>{{ report.time_label }}</b>
            <a href="{{ report.next_url }}">&#10097;</a>
        </div>
    </div>

    <p>
  {% endif %}

  <table id="report" class="{{ report.get_report_type }}">

  {% if show_header %}
    <tr class="header">
      <td class="name">To:</td>
      <td>{{ report.label|safe }}</td>
      <td></td>
      {% if show_tracker_link_for %}<td></td>{% endif %}
    </tr>
    <tr class="header">
      <td class="name">Dates:</td>
      <td>{{ report.start_date }} - {{ report.end_date }}</td>
      <td></td>
      {% if show_tracker_link_for %}<td></td>{% endif %}
    </tr>
    <tr class="header">
      <td class="name summary"></td>
      <td>
        <table style="width: 100%;">
          <tr class="total"><td colspan="3" class="underline"></td></tr>
          <tr class="total"><td colspan="3" class="header underline">Summary</td></tr>
          {% for need, issues_with_amounts, total_sum in report.iter_hours_by_needs_and_issues %}
              <tr class="issue">
                <td class="hours">{{ total_sum }} h</td>
                <td class="title">
                  {% if need %}{{ need }}{% else %}<i>---</i>{% endif %}
                </td>
              </tr>
          {% endfor %}
          {% for tags, hours_list, total_sum in report.iter_hours_with_no_related_issues %}
              <tr class="issue">
                <td class="hours">{{ total_sum }} h</td>
                <td class="title">
                  {% if tags %}{{ tags }}{% else %}<i>---</i>{% endif %}
                </td>
              </tr>
          {% endfor %}
          <tr class="total"><td colspan="3" class="underline"></td></tr>
          <tr class="issue"><td class="hours">{{ report.total_hours }} h</td><td colspan="2" class="title">TOTAL</td></tr>
          {% if link_to_csv %}
            <tr><td colspan="3" style="text-align: right">
            <a href="{{ report.get_csv_link }}">[export as csv]</a>
          </tr>
          {% endif %}
        </table>
      </td>
      <td></td>
      {% if show_tracker_link_for %}<td></td>{% endif %}
    </tr>
    {% if show_billable_hours %}
    <tr class="header">
      <td class="name">Billable:</td>
      <td>{{ report.total_billable_hours }} h
          {% if link_to_edit %}
            &nbsp;
            <a href="{{ report.get_edit_link }}">[edit]</a>
          {% endif %}
      </td>
      <td></td>
      {% if show_tracker_link_for %}<td></td>{% endif %}
    </tr>
    {% endif %}
  {% endif %}

    <tr><td colspan="3" class="spacer"></td></tr>
    <tr><td colspan="3" class="spacer"></td></tr>

    {% for need, issues_with_amounts in report.iter_hours_by_needs_and_issues %}
      <tr class="need"><td colspan="3">
          {% if need %}<b>{{ need }}</b>{% else %}<i>---</i>{% endif %}
      </td></tr>
      {% for issue, amount, coders in issues_with_amounts %}
        <tr class="issue issue-{% if issue.closed_at %}closed{% else %}open{% endif %}">
          <td class="hours">{{ amount }} h</td>
          <td class="title">
            {% if link_title_to_github %}
              <a href="{{ issue.html_url }}" target="_new">{{ issue.title }}</a>
            {% else %}
              {{ issue.title }}
            {% endif %}
          </td>
          {% if show_coder_related_to_hours %}
            <td class="coder">
              {% for coder in coders %}
              <span>
                {{ coder }}
              </span>
              {% endfor %}
            </td>
          {% endif %}
          {% if show_tracker_link_for %}
          <td>
              <form action="{% url 'extranet_timer' show_tracker_link_for.user.username %}" method="post">
                  <input type="hidden" name="do" value="start" />
                  <input type="hidden" name="issue_id" value="{{ issue.id }}" />
                  {% csrf_token %}
                  <input type="submit" value="&#8987;" />
              </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endfor %}

    {% for tags, hours_list, total_sum in report.iter_hours_with_no_related_issues %}
      <tr class="need"><td colspan="3">
          {% if tags %}<b>{{ tags }}</b>{% else %}<i>---</i>{% endif %}
      </td></tr>
      {% for hours in hours_list %}
        <tr class="issue">
          <td class="hours">{{ hours.amount }} h</td>
          <td class="title">
            {{ hours.comment }}
            {% if show_project_for_other_hours %}
              ({{ hours.project }})
            {% endif %}
          </td>
          {% if show_coder_related_to_hours %}
            <td class="coder">
              <span>
                {{ hours.coder }}
              </span>
            </td>
          {% endif %}
          {% if show_tracker_link_for %}
          <td>
              <form action="{% url 'extranet_timer' show_tracker_link_for.user.username %}" method="post">
                  <input type="hidden" name="do" value="start_again" />
                  <input type="hidden" name="hours_id" value="{{ hours.id }}" />
                  {% csrf_token %}
                  <input type="submit" value="&#8987;" />
              </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endfor %}
    <tr><td colspan="3" class="spacer"></td></tr>
    <tr><td colspan="3" class="spacer"></td></tr>
    <tr><td colspan="3" class="spacer"></td></tr>
  </table>

{% endif %}
