/* defaults */

body {
	background-color: #eee;
	font: 14px Arial;
    padding: 0px;
    padding-bottom: 70px;
}
h1, h2, h3, h4, h5, h6 { 
	font-family: Helvetica, Arial, sans-serif;
	color: #7E7E7E;
}
a { text-decoration: none; color: #1f77b4; font-weight: bold;}
a:hover { text-decoration: underline; }


/* content */

.container {
    max-width: 900px;
	margin: 0 auto 0 auto;
    padding: 0;
    
}
#content {

    min-height: 500px;
    background: #f9f9f9;
	border: 1px solid #c4c6ca;
    padding: 0;
}
.loginlogout, #navbar a, #navpath a, #navpath .currentpage {
    background-color: #1f77b4;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.loginlogout {
    background-color: gray;
}
#bottomdefaults {
    font-size: 10px;
    float: right;
}
#topdefaults {
    font-weight: bold;
    text-align: right;
    font-size: 80%;
}
#topdefaults a {
    text-decoration: none;
    margin-left: 0.5em;
}
#pagecontent {
    padding: 1em;
}

tr {
    line-height: 2em;
}
td.navgroup {
    text-align: right;
    vertical-align: top; 
}
#navtable td a {
    white-space: nowrap;
}

#navpath {
    line-height: 2em;
}
#navpath .currentpage {
    background-color: #ff7f0e;
    color: black;
    font-weight: bold;
}

#report {
    width: 100%;
}
#report td {
    padding: 0.2em;
    color: gray;
    line-height: 1.5em;
    padding-top: 1em;
    vertical-align: top;
}
#report td.title {
    font-style: italic;
}
#report .need td {
    border-bottom: 1px solid silver;
    padding-top: 2em;
}
#report .header td {
    font-style: italic;
    color: black;
    padding: 0.5em;
}
#report .header .name {
    background-color: #1f77b4; 
    background-color: silver; 
    color: white;
    font-weight: bold;
    text-align: right;
    font-style: normal;
}
#report .issue .hours, #report .total .hours {
    width: 4em;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    color: gray;
    white-space: nowrap;

}
#report .total td {
    font-weight: bold;
}
#report .total .header {
}
#report .total .underline {
    border-bottom: 1px solid silver;
}
#report tr .spacer {
    padding-top: 2em;
}

#report .issue .title {
    padding-left: 1em;
    line-height: 1.2em;
}
#report .issue .id {
    border: 1px solid gray;
    padding: 2px;
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
    border-radius: 10px;
}
#report .issue-closed .id {
    background-color: #ff7f0e;
    color: black;
}
#report .issue-open .id {
    background-color: #1f77b4; 
    color: white;
}
#report .issue .coder {
    text-align: right;
}
#report .issue .coder span , #timer .coder {
    background-color: gray; 
    color: white;

    white-space: nowrap;
    padding: 0.3em;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;

    font-size: 80%;
    line-height: 1em;
}
#report .issue-closed .coder span {
    background-color: #ff7f0e;
    color: black;
}
#report .issue-open .coder span {
    background-color: #1f77b4;
    color: white;
}
#timenav {
    margin-top: 1em;
    text-align: center;
}
#timenav .control {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    border-radius: 2px;
    border: 1px solid gray;
    width: auto;
}
#timenav .control a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}
#timenav .control b {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
}

#needs {
    width: 100%;
}
#needs td, #needs th {
    text-align: center;
    vertical-align: top;
    font-size: 10px;
    color: gray;
    padding: 0.5em;
    line-height: 1em;
    border-bottom: 1px dashed silver;
    padding-top: 1em;
    padding-bottom: 1em;
}
#needs .name {
    font-weight: bold;
    text-align: left;
}
#needs .description {
    text-align: left;
}
.description {
    margin: 1em; 
    margin-left: 2em; 
    margin-bottom: 2em;
    border: 1px solid silver;
    padding: 1em;
    background-color: gray;
    color: white;
}
#needs .hours, #timer .hours {
    text-align: center;
    width: 3em;
}
#needs .node, #timer .node {
    white-space: nowrap;
    padding: 0.3em;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
#needs .created, #needs .estimate {
    background-color: gray;
    color: white;
}
#needs .work, #needs .not-requested, #timer .work {
    background-color: #ccc;
    color: white;
}
#needs .date {
    background-color: gray;
    color: white;
    width: 6em;
}
#needs .started {
    background-color: #1f77b4;
    color: white;
}
#needs .date.closed {
    background-color: gray;
    color: white;
    /*
    */
    color: black;
    background-color: #ff7f0e;
    font-weight: bold;
}
#needs .alert {
    background-color: red;
    color: black;
}

.tag.project-name {
    white-space: nowrap;
    padding: 0.3em;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    font-size: 10px;
    font-family: monospace;
}

table#weekly-meeting {
    width: 100%;
}
table#weekly-meeting .week {
    padding: 2em;
    padding-top: 0em;
    padding-bottom: 4em;
    width: 50%;
}
table#weekly-meeting .this-week {
    /*
    border-right: 4px solid #ff7f0e;
    border-right: 1px solid silver;
    */
}
#weekly-meeting .project_name {
    vertical-align: top;
    width: 12px;
    display: inline-block;
    height: 100%;
    min-width: 2em;
    background-color: #ff7f0e;
    background-color: #1f77b4;
    background-color: black;
    background-color: gray;
    background-color: silver;
    font-weight: bold;
    font-size: 9px;
    color: white;
    border-radius: 2em;
}
/*
#weekly-meeting td, #weekly-meeting th {
    border: 1px solid red;
}
*/
#weekly-meeting td.week {
    vertical-align: top;
}
#weekly-meeting .divider {
    height: 5em;
}
#weekly-meeting .project_name span {
    display: block;
    text-transform: uppercase;
    transform-origin: top right;
    line-height: 1.5em;
    padding-right: 1em;
    position: relative;
    text-align: right;
    width: 24em;
    left: -24.7em;
    top: 0;

    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#weekly-meeting th.project {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px dashed gray;
}
#weekly-meeting #report {
    font-size: 80%;
}
#timer form, #timer form input {
    display: inline
}
#timer .bottom {
    padding: 0.5em;
    max-width: 32em;
    line-height: 1.2em;
}
#timer textarea {
    width: 100%;
    height: 4em;
}
#timer .comment {
    margin-top: 1em;
    padding: 1em;
    border-top: 1px solid silver;
}
#timer .alert {
    border-top: 3px solid #ff7f0e;
    border-left: 3px solid #ff7f0e;
}
#timer .info a.issue {
    text-decoration: none;
    color: steelblue;
}
#timer .info h3 {
    line-height: 1em;
}
#timer .info td {
    padding: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#timer .info .label {
    vertical-align: top;
    text-align: right;
}
#timer .info .box {
    min-width: 6em;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    color: white;
    font-family: monospace;
}
#timer .info table {
    width: 100%;
}
#timer .info {
    width: 100%;
    margin-top: 2em;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 1em;
    max-width: 32em;
    background-color: silver;
    color: black;
}
#timer .info h3 {
    color: white;
    line-height: 1.5em;
    border-bottom: 1px solid white;
    margin-top: 0;
}
#timer .billable {
    background-color: lightgreen !important;
    color: black !important;
}
#timer .billable.pending {
    background-color: yellow !important;
    color: black !important;
}
#timer #stop, #timer #update, #timer #commit {
    font-size: 1.2em;
}
#timer #delete {
    margin-top: 4em;
}
#timer .legend {
    vertical-align: top;
    font-size: 10px;
    color: gray;
}
#timer .csv input {
    background-color: black;
    color: gray;
    font-family: monospace;
    width: 100%;
}
#timer #issues {
    padding: 2em;
    width:  100%;
}
#timer #issues td {
    vertical-align: top;
    line-height: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    color: gray;
    font-size: 11px;
}
#timer #issues input {
    font-size: 11px;
}
#timer .coder {
    background-color: silver;
    color: white;
}
#timer #estimate {
    margin-bottom: 3em ;
    text-align: center;
}
table#edit-hours td, table#edit-hours th {
    background: #eee;
    padding: 4px;
    line-height: 1.6em;
    font-size: 10px;
    vertical-align: top;
    white-space: nowrap;
}
table#edit-hours td.comment {
    white-space: normal !important;
}
table#edit-hours input {
    font-size: 10px;
}

