/* defaults */

body {
	background-color: #eee;
	font: 14px Arial;
    padding: 35px;
}
h1, h2, h3, h4, h5, h6 { 
	font-family: Helvetica, Arial, sans-serif;
	color: #7E7E7E;
}
a { text-decoration: none; color: #1f77b4; font-weight: bold;}
a:hover { text-decoration: underline; }


/* content */

.container {
    max-width: 900px;
	margin: 0 auto 0 auto;
    padding: 0;
    
}
#content {

    min-height: 500px;
    background: #f9f9f9;
	border: 1px solid #c4c6ca;
    padding: 0;
}
.loginlogout, #navbar a, #navpath a, #navpath .currentpage {
    background-color: #1f77b4;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
#bottomdefaults {
    font-size: 10px;
    float: right;
}
#topdefaults {
    font-weight: bold;
    text-align: right;
    font-size: 80%;
}
#topdefaults a {
    text-decoration: none;
    margin-left: 0.5em;
}
#pagecontent {
    padding: 1em;
}

tr {
    line-height: 2em;
}
td.navgroup {
    text-align: right;
    vertical-align: top; 
}
#navtable td a {
    white-space: nowrap;
}

#navpath {
    line-height: 2em;
}
#navpath .currentpage {
    background-color: #ff7f0e;
    color: black;
    font-weight: bold;
}

#report {
    width: 100%;
}
#report td {
    padding: 0.2em;
    color: gray;
}
#report td.title {
    font-style: italic;
}
#report .need td {
    border-bottom: 1px solid silver;
    padding-top: 2em;
}
#report .header td {
    font-style: italic;
    color: black;
    padding: 0.5em;
}
#report .header .name {
    background-color: #1f77b4; 
    background-color: silver; 
    color: white;
    font-weight: bold;
    text-align: right;
    font-style: normal;
}
#report .issue .hours, #report .total .hours {
    width: 4em;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    color: gray;
    white-space: nowrap;

}
#report .total td {
    font-weight: bold;
}
#report .total .header {
}
#report .total .underline {
    border-bottom: 1px solid silver;
}
#report tr .spacer {
    padding-top: 2em;
}

#report .issue .title {
    padding-left: 1em;
    line-height: 1em;
}
#report .issue .id {
    border: 1px solid gray;
    padding: 2px;
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
    border-radius: 10px;
}
#report .issue-closed .id {
    background-color: #ff7f0e;
    color: black;
}
#report .issue-open .id {
    background-color: #1f77b4; 
    color: white;
}
#timenav {
    margin-top: 1em;
    text-align: center;
}
#timenav .control {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    border-radius: 2px;
    border: 1px solid gray;
    width: auto;
}
#timenav .control a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}
#timenav .control b {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
}

#needs {
    width: 100%;
}
#needs td, #needs th {
    text-align: center;
    vertical-align: top;
    font-size: 10px;
    color: gray;
    padding: 0.5em;
    line-height: 1em;
    border-bottom: 1px dashed silver;
    padding-top: 1em;
    padding-bottom: 1em;
}
#needs .name {
    font-weight: bold;
    text-align: left;
}
#needs .description {
    text-align: left;
}
#needs .hours {
    text-align: center;
    width: 3em;
}
#needs .node {
    white-space: nowrap;
    padding: 0.3em;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
#needs .created, #needs .estimate {
    background-color: gray;
    color: white;
}
#needs .work, #needs .not-requested {
    background-color: #ccc;
    color: white;
}
#needs .date {
    background-color: gray;
    color: white;
    width: 6em;
}
#needs .started {
    background-color: #1f77b4;
    color: white;
}
#needs .date.closed {
    background-color: gray;
    color: white;
    /*
    */
    color: black;
    background-color: #ff7f0e;
    font-weight: bold;
}
#needs .alert {
    background-color: red;
    color: black;
}

.tag.project-name {
    white-space: nowrap;
    padding: 0.3em;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    font-size: 10px;
    font-family: monospace;
}
