.container { max-width: 400px !important; }
#content { text-align: center; padding-top: 35px !important; padding-bottom: 45px !important; min-height: 100px !important; }
#content h1 { letter-spacing: -0.05em; }
